{% extends 'home/wrapper.html' %}

{% block content %}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">About
			<small>Subheading</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a>
			</li>
			<li class="active">About</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
	<div class="col-md-6">
		<img class="img-responsive img-rounded" src="http://placehold.it/750x450" alt="">
	</div>
	<div class="col-md-6">
		<h2>About <abbr title="Society of Paranormal and Occult Research">SPOR</abbr></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
	</div>
</div><!-- /.row -->

<!-- Team Members -->
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Our Team</h2>
	</div>
	{% for i in team_members %}
	<div class="col-md-4 text-center">
		<div class="thumbnail">
			<img class="img-responsive img-rounded" src="{{ MEDIA_URL }}{{ i.thumbnail.url }}" alt="{{ i.fname }} {{ i.lname }}">
			<div class="caption">
				<h3>{{ i.first_name }} {{ i.last_name }}<br>
					<small>{{ i.title }}</small>
				</h3>
				<p>{{ i.description }}</p>
				<ul class="list-inline">
					{% if i.facebook %}<li><a target="_blank" href="{{ i.facebook_url }}"><i class="fa fa-2x fa-facebook-square"></i></a></li>{% endif %}
					{% if i.linkedin %}<li><a target="_blank" href="{{ i.linkedin_url }}"><i class="fa fa-2x fa-linkedin-square"></i></a></li>{% endif %}
					{% if i.twitter %}<li><a target="_blank" href="{{ i.twitter_url }}"><i class="fa fa-2x fa-twitter-square"></i></a></li>{% endif %}
				</ul>
			</div>
		</div>
	</div>
	{% empty %}
	<div class="col-md-12">
		<p>We currently don't have any team members. This is most likely in error!</p>
	</div>
	{% endfor %}
</div><!-- /.row -->

<!-- Call to Action Section -->
<div class="well">
  <div class="row">
    <div class="col-md-8">
    	<h4>Interested in joining our team?</h4>
      <p>If you think you have the experience and drive to join our team, please feel free to submit an application.</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-lg btn-default btn-block" type="button" data-toggle="modal" data-target="#recruitModal">Apply Now</button>
    </div>
  </div>
</div>

<!-- Our Customers -->
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Our Partners</h2>
	</div>
	{% for j in partners %}
	<div class="col-md-2 col-sm-4 col-xs-6">
		<img class="img-responsive img-rounded customer-img" src="{{ j.thumbnail.url }}" alt="{{ j.name }}">
	</div>
	{% empty %}
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p>None Yet! Maybe you will be our first one?</p>
	</div>
	{% endfor %}
</div><!-- /.row -->

<!-- Modal -->
<div class="modal fade" id="recruitModal" tabindex="-1" role="dialog" aria-labelledby="recruitmentForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="RecruitmentForm">Apply to Join</h4>
      </div>
      <div class="modal-body">
      	<iframe src="https://docs.google.com/forms/d/1f8EkYXjThragmtJxBEWXQFB8qIUuMgn-m70Zn--aoUQ/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}