amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.6
django-admin-honeypot==1.0.0
django-appconf==1.0.2
django-audiofield==0.8.2
django-celery==3.1.17
django-imagekit==3.3
django-tracking==0.4.1
docutils==0.12
kombu==3.0.35
mysql==0.0.1
MySQL-python==1.2.5
pilkit==1.1.13
Pillow==3.2.0
pytz==2016.4
requests==2.10.0
six==1.10.0