{% extends 'home/wrapper.html' %}

{% block content %}

<!-- Page Heading/Breadcrumbs -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Help
			<small>Subheading</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Help</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> Frequently Asked Questions</h3>
		  </div>
		  <div class="panel-body">
		    <div class="panel-group" id="accordion">
					{% for i in faqs %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ forloop.counter }}">{{ i.question }}</a>
							</h4>
						</div>
						<div id="collapse_{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}">
							<div class="panel-body">{{ i.answer }}</div>
						</div>
					</div><!-- /.panel -->
					{% empty %}
					<div class="panel panel-default">
					  <div class="panel-body">
					    <span class="text-warning"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> There are currently no frequently asked questions, this is most likely in error!</span>
					  </div>
					</div>
					{% endfor %}
				</div><!-- /.panel-group -->
		  </div><!-- /.panel-body -->
		</div><!-- /.panel -->
	</div><!-- /.col-lg-6 -->
	<div class="col-lg-6">
		<form>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-bug fa-fw" aria-hidden="true"></i> Bug Report</h4>
				</div><!-- /.panel-heading -->
				<div class="panel-body">
					<p>Before submitting a bug report, please take a look at our known issues. If your issue is not represented there, please submit a bug report with as much information as possible.</p>
					<ul class="list-group">
						{% for j in issues %}
					  <li class="list-group-item">
					  	<p><strong>{{ j.tagline }}</strong></p>
					  	<p><small>{{ j.description }}</small></p>
					  	{% if j.reference_bug %}
					  	<p>
					  		<small><i class="fa fa-fire fa-fw" aria-hidden="true"></i> Severity: {{ j.reference_bug.get_severity_display }}</small>,
					  		<small><i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i> Status: {{ j.reference_bug.get_status_display }}</small>
					  	</p>
					  	{% endif %}
					  </li>
					  {% empty %}
					  <li class="list-group-item list-group-item-success"><i class="fa fa-check-circle" aria-hidden="true"></i> There are currently no known issues. Yay!</li>
					 	{% endfor %}
					</ul>
					<div class="form-group">
						<select class="form-control">
							{% for cat in categories %}
							<option value="{{ cat.value }}" {% if forloop.first %}selected="selected"{% endif %}>{{ cat.name }}</option>
							{% empty %}
							<option value="any" selected="selected">Any</option>
						  {% endfor %}
						</select>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="3" placeholder="Description"></textarea>
					</div>
				</div><!-- /.panel-body -->
				<div class="panel-footer text-right">
					<button type="submit" class="btn btn-default"><i class="fa fa-paper-plane fa-fw" aria-hidden="true"></i> Submit</button>
				</div><!-- /.panel-footer -->
			</div><!-- /.panel -->
		</form>
	</div><!-- /.col-lg-6 -->
</div><!-- /.row -->

{% endblock %}