{% extends 'home/wrapper.html' %}

{% block content %}

<!-- Page Heading/Breadcrumbs -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{ case.name }}
			<small>{{ case.case_number }}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/investigations">Investigations</a></li>
			<li class="active">{{ case.name }}</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

	<div class="col-md-8">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{% for i in case.image_evidence.all %}
				<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
				{% empty %}
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				{% endfor %}
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{% for i in case.image_evidence.all %}
				<div class="item {% if forloop.first %}active{% endif %}">
					<img class="img-responsive" src="{{ MEDIA_URL }}{{ i.file.url }}" alt="{{ i.label }}">
				</div>
				{% empty %}
				<div class="item active">
					<img class="img-responsive" src="http://placehold.it/750x500&amp;text=No Images Available" alt="">
				</div>
				{% endfor %}
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>

	<div class="col-md-4">
		<h3>Case Description</h3>
		<p>{{ case.long_description }}</p>
		<h3>Case Details</h3>
		<p>
			<span><strong>Case Manager:</strong> {{ case.case_manager.first_name }} {{ case.case_manager.last_name }}</span>
			<br>
			<span><strong>Location:</strong> {{ case.full_address }}</span>
			<br>
			{% if case.date_occured %}
			<span><strong>Date Occured:</strong> {{ case.date_occured }}</span>
			<br>
			{% endif %}
			<span><strong>Status:</strong> {{ case.get_status_display }}</span>
			<br>
			<span><strong>Conclusion:</strong> {{ case.get_conclusion_display }}</span>
		</p>
		{% if case.evidence_repository %}<p><a target="_blank" href="{{ case.evidence_repository }}">Evidence Repository</a></p>{% endif %}
		<h3>Parties Present</h3>
		<ul>
			{% for party in parties_present %}
			<li>{{ party.first_name }} {{ party.last_name }}</li>
			{% empty %}
			<li>There were no parties at this investigation, this is most likely in error.</li>
			{% endfor %}
		</ul>
	</div>

</div>
<!-- /.row -->

<!-- Evidence Row -->
<div class="row">

	<div class="col-lg-12">
		<h3 class="page-header">Audio Evidence</h3>
	</div>

	<div class="col-lg-12">
		{% for a in case.audio_evidence.all %}
		<h4>{{ a.label }}</h4>
		<p>{{ a.details }}</p>
		<audio controls>
		  <source src="{{ MEDIA_URL }}{{ a.file.url }}" type="audio/{{ a.extension }}">
			Your browser does not support the audio element.
		</audio>
		{% empty %}
		<p>No audio evidence was collected for this investigation.</p>
		{% endfor %}
	</div>

	<div class="col-lg-12">
		<h3 class="page-header">Image Evidence</h3>
	</div>

	<div class="col-lg-12">
		{% for i in case.image_evidence.all %}
		<h4>{{ i.label }}</h4>
		<p>{{ i.details }}</p>
		<img class="img-responsive img-rounded" src="{{ MEDIA_URL }}{{ i.file.url }}" alt="{{ i.label }}">
		{% empty %}
		<p>No images were collected for this investigation.</p>
		{% endfor %}
	</div>

	<div class="col-lg-12">
		<h3 class="page-header">Video Evidence</h3>
	</div>

	<div class="col-lg-12">
		{% for v in case.video_evidence.all %}
		<h4>{{ v.label }}</h4>
		<p>{{ v.details }}</p>
		<video width="320" height="240" controls>
		  <source src="{{ MEDIA_URL }}{{ v.file.url }}" type="video/{{ v.extension }}">
			Your browser does not support the video tag.
		</video>
		{% empty %}
		<p>No video evidence was collected for this investigation.</p>
		{% endfor %}
	</div>

	<div class="col-lg-12">
		<h3 class="page-header">Personal Experiences</h3>
	</div>

	<div class="col-lg-12">
		{% for p in case.personal_experiences.all %}
		<h4>{{ p.label }}</h4>
		<p>{{ p.details }}</p>
		<p></p>
		{% empty %}
		<p>No personal experiences were collected for this investigation.</p>
		{% endfor %}
	</div>

	<div class="col-lg-12">
		<h3 class="page-header">Misc Evidence</h3>
	</div>

	<div class="col-lg-12">
		{% for m in case.misc_evidence.all %}
		<h4>{{ m.label }}</h4>
		<p>{{ m.details }}</p>
		<p></p>
		{% empty %}
		<p>No misc evidence was collected for this investigation.</p>
		{% endfor %}
	</div>

</div><!-- /.row -->

<!-- Related Projects Row -->
<div class="row">

	<div class="col-lg-12">
		<h3 class="page-header">Related Cases</h3>
	</div>

	{% for related in related_cases %}
	<div class="col-sm-3 col-xs-6">
		<a href="/investigations/case/{{ related.slug }}"><img class="img-responsive img-hover img-related img-rounded" src="{{ MEDIA_URL }}{{ related.thumbnail_500x300.url }}" alt=""></a>
	</div>
	{% empty %}
	<div class="col-md-12">
		<p>This case has no related cases.</p>
	</div>
	{% endfor %}

</div><!-- /.row -->
{% endblock %}